*{
  padding: 0;
  margin: 0;
}
.video-background{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  opacity: 0.3;

}
@media(min-aspect-ratio: 16/9)
{
  .video-background{
    width: 100%;
    height: auto;
  }
}
@media(max-aspect-ratio: 16/9)
{
  .video-background{
    width: auto;
    height: 100%;
  }
}
header{
  background: rgba(0,0,0,1);
  height: 100vh;
}
.nav{
  background: rgba(0,0,0,0.5);
  height: 80px;
}
.logo{
  margin: 10px 50px;
  height: 60px;
  border: 3px solid;
}
ul{
  float: right;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 20px;
}
ul li{
  padding: 10px;
  margin: 10px;
}
ul li a{
  color: #fff;
  padding: 5px 10px;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.nav .menu li a:hover {
  color: red;
  transition-duration: 1s;
}


.msg{
  position: relative;
  text-align: center;
  font-family: sans-serif;
  color: #fff;
  top: 200px;

}
.msg h1{
font-size: 52px;
margin: 20px;
}
.btn{
  font-size: 18px;
  color: #fff;
  letter-spacing: 2px;
  margin: 5px;
  padding: 7px 28px;
  text-decoration: none;
  border: 1px solid #fff;
  position: relative;
  top: 300px;
  left: 500px;
  border-radius: 3px;
 
  transition: all;
  transition-duration: 2s ;
}
.btn:hover{
  border-radius: 10px;
  background: coral;
  color: #fff;
}

